@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Styling for Whole Site */
:root {
  /* Colors */
  --white-color: #fff;
  --dark-color: #333333;
  --primary-color: #ffb0b0;
  --secondary-color: #fff7d1;
  --orange-color: #ffd09b;
  --beige-color: #FFF8D1;
  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;
  --font-size-xxxl: 5rem;
  /* Font weight • */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: • 700;
  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;
  /* Site max width */
  --site-max-width: 1300px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}

.section-title {
  text-align: center;
  padding: 60px 0 60px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
}

.section-title::after {
  content: "";
  width: 100px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: var(--border-radius-s);
  background-color: var(--orange-color);
}

/* Navbar Styling */
#nav-pic {
  height: 3rem;
  width: 3rem;
}
header {
  background: var(--primary-color);
  position: fixed;
  width: 100%;
  z-index: 5;
}
header .navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#login {
  background-color: #fff;
}
#login:hover {
  color: var(--orange-color);
  background: transparent;
  border: #fff7d1 solid 2px;
}

.navbar .nav-logo .logo-text {
  color: var(--dark-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}
.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: var(--dark-color);
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-m);
  transition: 0.3 ease;
}
.navbar .nav-menu .nav-link:hover {
  color: var(--dark-color);
  background-color: var(--orange-color);
}
.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}

/* Hero Section Styling*/
.hero-section {
  min-height: 100vh;
  background: var(--primary-color);
}
.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: var(--dark-color);
  justify-content: space-between;
}

.hero-section .hero-details .title {
  font-size: var(--font-size-xxxl);
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.hero-section .hero-details .subtitle {
  font-size: var(--font-size-l);
  font-family: "Poor Story", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
  max-width: 100%;
}

.hero-section .hero-details .description {
  margin: 20px 0 40px;
}

.hero-section .hero-details .button .button-start {
  padding: 10px 26px;
  color: var(--dark-color);
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-m);
  background-color: var(--orange-color);
  font-weight: var(--font-weight-medium);
  border: 2px solid transparent;
  text-align: center;
  width: 30%;
  transition: 0.3 ease;
}

.hero-section .hero-details .button-start:hover {
  color: var(--orange-color);
  background: transparent;
  border-color: var(--beige-color);
}

.hero-section .hero-image-wrapper {
  max-width: 600px;
  margin-right: 30px;
}
/* About Section Styling */
.about-section {
  padding: 120px 0;
  background: var(--secondary-color);
  min-height: 100vh;
}

.about-section .about-image-wrapper .about-image {
  width: 500px;
  height: 500px;
}
.about-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.about-section .about-details .title {
  padding: 0;
}

.about-section .about-details {
  max-width: 50%;
}
.about-section .about-details .text {
  text-align: center;
  line-height: 30px;
  margin: 50px 0 30px;
  font-size: var(--font-size-m);
}

/* Features Content */
.features-content .features-item .features-image {
  width: 200px;
  height: 200px;
}
.features-section .features-content .features-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.features-content .features-list .features-item {
  text-align: center;
}

.features-section {
  min-height: 100vh;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}
.features-section .section-title {
  display: block;
}
.features-section {
  min-height: 100vh;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.features-section {
  min-height: 100vh;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
}
/* Footer */

.footer-section {
  background-color: var(--orange-color);
  padding: 20px 0;
}

.footer-section .section-content {
  text-align: center;
}

/* Login Decoration */
/* Form Section */
.form-section {
  min-height: 100vh;
  display: flex;
}
.form-section .form-picture {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  width: 50%; /* Set to occupy 50% of the width */
  min-height: 100vh;
  justify-content: space-between;
}

.picture-text {
  margin-top: 200px;
  position: relative;
}

.picture-text .form-image-text-wrapper {
  position: absolute;
  height: 140px;
  width: 140px;
  top: -100px;
  right: 100px;
}

.picture-text .title {
  text-align: center;
  font-size: var(--font-size-xxxl);
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
}

.picture-text h2 {
  font-size: var(--font-size-l);
  font-family: "Poor Story", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.form-image-wrapper {
  width: 80%;
  /* height: 498px; */
  margin-left: auto;
  margin-right: auto;
}
.form-section .form-box {
  padding-left: 5%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-m);
  padding: 40px;
}

.form-box h1 {
  color: var(--orange-color);
  font-size: var(--font-size-xxl);
}

.form-details .subtitle {
  font-size: var(--font-size-m);
  color: var(--dark-color);
  margin-bottom: 30px;
}

.form-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field input {
  width: 60%;
  padding: 15px;
  font-size: var(--font-size-n);
  border: 2px solid var(--dark-color);
  border-radius: var(--border-radius-s);
  background-color: var(--white-color);
  transition: all 0.3s ease-in-out;
}

.input-field input:focus {
  border-color: var(--orange-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input-field label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5px;
  color: var(--dark-color);
  transition: all 0.3s ease-in-out;
}

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 0.9rem;
  color: var(--orange-color);
}

.forgot-pass {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--orange-color);
  text-decoration: none;
}

.forgot-pass:hover {
  text-decoration: underline;
}

button[type="submit"] {
  padding: 12px 20px;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--white-color);
  background-color: var(--orange-color);
  border-radius: var(--border-radius-s);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60%;
}

button[type="submit"]:hover {
  background-color: var(--dark-color);
}

.bottom-link {
  margin-top: 20px;
}

.bottom-link a {
  color: var(--orange-color);
  text-decoration: none;
}

.bottom-link a:hover {
  text-decoration: underline;
}

/* Belajar */
.container-belajar {
  display: flex;
}

/* Sidebar Styling */
.container-belajar .sidebar-section {
  min-height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 3%;
  width: auto;
}

.sidebar-section .side-logo {
  display: flex;
}

.sidebar-section .side-logo .logo-text {
  color: var(--dark-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  display: flex;
}

.sidebar-section .side-logo #nav-pic {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

/* Sidebar Menu */
.sidebar-section .sidebar-menu {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-section .sidebar-menu .side-item {
  list-style: none;
}

.sidebar-section .sidebar-menu .side-link {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  color: var(--dark-color);
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-m);
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.sidebar-section .sidebar-menu .side-link:hover {
  background-color: var(--orange-color);
}

.sidebar-section .sidebar-menu .side-link .menu-icon {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

/* Level Section */
.level-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 5% 5%;
  width: 100%;
  margin-bottom: 10px;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Ubah nilai ini untuk menentukan seberapa tinggi elemen bergerak */
  }
  100% {
    transform: translateY(0);
  }
}

.level-1-content,
.level-2-content,
.level-3-content,
.level-4-content,
.level-5-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--orange-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Positioning */
.left {
  align-self: flex-end;
}

.right {
  align-self: flex-start;
}

.center {
  align-self: center;
}

/* Mantra */
.mantra-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 8px;
  gap: 10px;
  height: auto;
}

.mantra-content {
  background-color: var(--white-color);
  border: 5px solid var(--primary-color);
  width: 100%;
  height: 25%;
  border-radius: var(--border-radius-s);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}
.mantra-today {
  display: flex;
}

.mantra-today .content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.mantra-today .content-left img {
  width: 80%;
  height: auto;
}

.content-left h2 {
  text-align: center;
}

.mantra-today img {
  width: 80%;
  height: 80%;
}

.mantra-content .title {
  font-size: var(--font-size-l);
  color: var(--dark-color);
}

.mantra-today h2 {
  font-size: var(--font-size-m);
  color: var(--dark-color);
}

.mantra-image-wrapper {
  position: absolute; /* Agar bisa ditempatkan dengan properti bottom dan right */
  bottom: 10%; /* Menempatkan elemen di bagian bawah */
  right: 5%; /* Menempatkan elemen di bagian kanan */
  padding: 10px; /* Opsional: jarak dari tepi */
  height: 15%;
  width: 15%;
}

/* Quiz */
.container-quiz {
  height: 100vh;
  width: 100%;
  padding-top: 100px;
}

/* Quiz Container */
.container-quiz {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.app {
  margin-top: 100px;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
}

/* Question styling */
.quiz h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#answerbuttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#answerbuttons .btn {
  padding: 10px;
  border: none;
  background-color: var(--secondary-color);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#answerbuttons .btn {
  text-align: left;
}

#answerbuttons .btn:hover {
  background-color: var(--orange-color);
}

/* Bottom Section Styling */
.container-quiz .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: 10px 20px;
  border-top: 2px solid var(--dark-color);
}

.indicator-question h3 {
  font-size: 1.2rem;
}

#next {
  padding: 10px 20px;
  background-color: var(--orange-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#next:hover {
  background-color: var(--primary-color);
}

.quiz #question {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
}
/* Vocabularies */
.container-belajar .vocabs-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 50px; /* Menyebarkan kotak secara merata */
  padding: 20px; /* Menambah padding di sekitar vocabs-section */
  width: 80%;
}

.vocabs {
  width: 500px; /* Ukuran kontainer lebih besar */
  height: 250px; /* Tinggi kontainer lebih besar */
  display: flex; /* Menggunakan flexbox untuk konten di dalam */
  align-items: center; /* Mengatur item di tengah vertikal */
  justify-content: center; /* Mengatur item di tengah horizontal */
  background-color: #ffb0b0; /* Warna latar belakang default */
  text-decoration: none; /* Menghapus garis bawah pada tautan */
  color: #ffffff; /* Warna teks */
  font-size: 24px; /* Ukuran font */
  color: #333;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px; /* Sudut membulat */
  transition: background-color 0.3s; /* Efek transisi saat hover */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden; /* Mencegah konten melampaui batas kontainer */
  padding: 30px;
}

.fruits {
  background-color: var(--orange-color);
}

.fruits:hover {
  background-color: #ffbe75;
}

.activities {
  background-color: var(--secondary-color);
}

.activities:hover {
  background-color: #ffefa5;
}

.vegetables:hover {
  background-color: #ff8c8c;
}

.vocabs-section p {
  font-size: var(--font-size-xl);
  color: var(--dark-color);
}

.vocabs-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vocabs-item img {
  max-width: 40%;
  max-height: 20%;
  height: auto;
  border-radius: 10px;
}

.vocab-back-button img,
.quiz-back-button img {
  width: 50px;
  height: 50px;
  position: fixed;
  /* move to left */
  left: 10px;
  /* move to bottom */
  bottom: 10px;
}

.quiz-back-button img {
  width: 50px;
  height: 50px;
  position: fixed;
  /* move to left */
  left: 10px;
  /* move to bottom */
  bottom: 80px;
}
.drag-world h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-color);
}

/* Isi Quiz */
.container {
  display: flex;
  flex-direction: column;
  /* Atur menjadi kolom */
  gap: 20px;
  /* Spasi antar kolom */
  width: 80%;
  /* Lebar kontainer */
  width: 100%;
  /* Lebar maksimum */
  text-align: center;
  justify-content: center;
  padding-top: 120px;
  padding-right: 20%;
  padding-left: 20%;
}

.words,
.definitions {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* Lebar 100% agar responsif */
}

.word,
.definition {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #eaeaea;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: grab;
  text-align: center;
  flex: 1;
  /* Membuat elemen tumbuh secara merata */
}

.definition {
  border: 2px dashed #aaa;
  min-height: 50px;
  text-align: center;
  color: #555;
}

.drag-over {
  background-color: #d1ffd1;
  border: 2px solid #4caf50;
}

.matched {
  background-color: #b3ffb3;
  cursor: not-allowed;
}

.definitions img {
  width: 20%;
}

/* Responsive media query code for max width 900px */
@media screen and (max-width: 900px) {
  :root {
    --fontore {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.2);
    }

    .navbar #menu-close-button {
      position: absolute;
      right: 30px;
      top: 30px;
    }
    -size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
    --font-size-xxxl: 3rem;
  }
  .navbar :where(#menu-close-button, #menu-open-button) {
    font-size: var(--font-size-l);
    display: block;
  }

  #popup-content {
    width: 80%;
  }

  #close-popup {
    width: 2px;
    height: 2px;
    font-size: 0.8rem;
    padding: 5%;
    text-align: center;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    position: absolute;
  }

  .section-content .hero-details .title {
    font-size: var(--font-size-xxxl);
  }

  body.show-mobile-menu header::bef .navbar #menu-open-button {
    color: var(--white-color);
  }
  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background: var(--white-color);
  }
  body.show-mobile-menu .navbar .nav-menu {
    left: 0;
  }

  .navbar .nav-menu .nav-link {
    color: var(--dark-color);
    display: block;
    margin-top: 17px;
    font-size: var(--font-size-1);
  }

  .hero-section .section-content {
    text-align: center;
    padding: 30px 20px 20px;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    /* Atur menjadi kolom */
    gap: 20px;
    /* Spasi antar kolom */
    width: 80%;
    /* Lebar kontainer */
    width: 100%;
    /* Lebar maksimum */
    text-align: center;
    justify-content: center;
    padding-top: 120px;
    padding-right: 3%;
    padding-left: 3%;
  }

  .hero-section .hero-details:is(.subtitle, .description),
  .about-section .about-details,
  .section-content .hero-details {
    max-width: 100%;
  }

  .hero-section .hero-details .button {
    justify-content: center;
  }
  .hero-section .hero-image-wrapper {
    margin-top: 100px;
    max-width: 400;
    margin-right: 0px;
  }
  .about-section .section-content {
    gap: 50px;
    flex-direction: column-reverse;
  }
  .about-section .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    max-width: 350px;
  }

  /* Features Section */
  .features-section .section-content {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .features-content .features-list {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .form-section {
    flex-direction: column;
    justify-content: center;
  }
  .form-section .form-picture {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    width: 100%; /* Set to occupy 50% of the width */
    justify-content: space-between;
  }
  .form-image-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-section .form-box {
    padding-left: 5%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius-m);
    padding: 40px;
  }
  .input-field input {
    width: 100%;
    padding: 15px;
    font-size: var(--font-size-n);
    border: 2px solid var(--dark-color);
    border-radius: var(--border-radius-s);
    background-color: var(--white-color);
    transition: all 0.3s ease-in-out;
  }

  .picture-text .form-image-text-wrapper {
    position: absolute;
    height: 60px;
    width: 60px;
    top: -60px;
    right: 100px;
  }
  /* Belajar */
  .container-belajar {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100vh;
  }

  .container-belajar .sidebar-section {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
  }

  .container-belajar .sidebar-mobile {
    display: none;
  }

  .mantra-image-wrapper {
    display: none;
    height: 0px;
    width: 0px;
  }
  .mantra-section .mantra-content {
    padding: 3px;
  }

  .mantra-today .content-right {
    padding-right: 2px;
  }

  .sidebar-section .side-logo {
    display: none;
  }
  .side-link p {
    display: none;
  }
  .container-belajar .sidebar-section {
    display: flex;
    flex-direction: row;
    min-height: 2vh;

    width: 100%;
    position: fixed;
    z-index: 4;
    bottom: 0;
  }
  .container-belajar .sidebar-section .sidebar-menu {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .level-section {
    margin-bottom: 100px;
  }

  /* Vocab */

  .container-belajar .vocabs-section {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    height: 140vh;
    position: absolute;
    top: -100px;
    justify-content: center;
    align-items: center;
  }

  .vocabs {
    width: 95%; /* Ukuran kontainer vocabs */
    height: 200px; /* Tinggi kontainer vocabs */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    border-radius: 10px;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .vocabs-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Posisikan gambar dan teks di tengah */
    justify-content: center;
  }

  .vocabs-item img {
    max-width: 60%;
    max-height: 100px;
    height: auto;
    border-radius: 10px;
  }
}

/* Hide buttons on large screens */
@media screen and (min-width: 900px) {
  .navbar #menu-close-button,
  .navbar #menu-open-button {
    display: none;
  }
}

/* Popup Styling */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup.hidden {
  display: none;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 50%;
  max-width: 90%;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.popup-content h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.popup-content .input-field {
  margin-bottom: 15px;
  position: relative;
}

.popup-content .input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.popup-content .input-field label {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 0.8rem;
  color: #888;
  background: #fff;
  padding: 0 5px;
}

.popup-content button {
  background: var(--beige-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background: var(--dark-color);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Form Inside Pop-up */
#change-password-popup form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Gap between input fields */
}
#submit-change-password {
  width: 100%;
}

#loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
